<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-forward-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      تفاصيل الخبر
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="myItem">
      <div class="head">
        <img src="../../../assets/images/slide.png" alt="">
      </div>
      <span class="date">14/12/2023</span>
      <div class="myTitle">إطلاق عبوات جديدة! </div>
      <p class="myText">
        تمتع بتجربة تسوق فريدة مع وصول عبوات جديدة تتنوع بين المنتجات المثيرة والعملية. استفد من تحسينات في التصميم
        والجودة،
        واحصل على فرصة لتحديث مجموعتك بأحدث الصيحات. لا تفوت الفرصة وقم بالطلب الآن للحصول على هذه العروض الحصرية! </p>
    </div>

  </div>
</ion-content>