<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../../assets/images/logo-part1.png" alt="">
      <img src="../../../assets/images/logo-part2.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>نبذه عنا</h1>

    <div class="gridSystem">
      <div class="box">
        <img src="../../../assets/images/logo-facebook 1.svg" alt="">
      </div>
      <div class="box">
        <img src="../../../assets/images/logo-whatsapp 1.svg" alt="">


      </div>
      <div class="box">
        <img src="../../../assets/images/logo-youtube 1.svg" alt="">

      </div>
      <div class="box">
        <img src="../../../assets/images/logo-linkedin 1.svg" alt="">

      </div>
    </div>

  </div>
</ion-content>