ion-fab-button {
  // border-radius: 24px;
  --color: #fff;
  // height: 50px;
  margin: 12px 8px;
  --background: linear-gradient(89deg, #b7d712 1.17%, #3e7903 96.11%);
}

ion-button {
  border-radius: 24px;
  --color: #fff;
  height: 50px;
  margin: 12px 8px;
  --background: linear-gradient(89deg, #b7d712 1.17%, #3e7903 96.11%);
}
